nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }

  /* Style the "active" element to highlight the current page */
nav a.active {
    background-color: #2196F3;
    color: white;
    border-radius: 10px;

    
  }

  /* Style the search box inside the navigation bar */
nav input[type=text] {
    float: right;
    padding: 8px;
    border-radius: 0 10px 10px 0;
    
    margin-right: 16px;
    font-size: 17px;
border: none;    


    
  }

  nav .search-container {
    float: left;
    

  }

  nav .search-container button {
    float: right;
    padding: 8px 10px;
    
    margin-bottom: 5px;
    
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 10px 0 0 10px;
    
  }

  nav .search-container button:hover {
    background: #ccc;
  }


  /* navigation style complete */



  /* carousel start-----------------------------------
   */

.backcolor{
    background-color: #FEEAE9;   
    
    
}

.carousel-item{
  padding: 20px 40px;
}


 /* problem with white corner ******************************************  */

.cat1 , .cat2 , .cat3{
  padding: 10px 30px;
  
border-radius: 20px;
  
}

.cat1{
  background-color: #FF9C35;
}

.cat2{
  background-color: #FF589B;
}

.cat3{
  background-color: #4289FF;
}

.container{
  margin-bottom: 100px;
}

.lastcontainerback{
background-color: #F4F4F4;
}

.orange_bg{
  background-color: #FEEAE9;
}

.conheightwidth{
 height: 300px;
 
}

/* input class with button  */


.butfield{
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  background-color: #FF589B;
 
}

.cusbtn1_car{

  background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
    
  }

  .text-color1{
    color: #FF136F;

  }

  .cusbtn2_car{

    background-color: #f52276; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0 10px 10px 0;
  }

  .inpfield{
    padding: 15px 32px;
    border-radius: 10px 0 0 10px;
    text-decoration: none;
    
    border: none;


    
  }


  .categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
  